* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #4200FF 0%, #280099 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 2.36px;
    overflow-x: hidden;
    min-height: 100vh;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    overflow: hidden;
    padding: 20px;
}

.header {
    color: white;
    text-align: center;
    padding: 15px;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.image-placeholder {
    text-align: center;
    margin-bottom: 20px;
}

.image-placeholder img {
    width: 156px;
    height: 126px;
    flex-shrink: 0;
}

.form label {
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

.form input, .form textarea {
    width: 100%;
    padding: 16px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 7px;
    font-size: 13px;
}

textarea {
    resize: none;
    height: 60px;
}

#quantidade {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: -1px;
    font-size: 13px;
}

.CustoeVenda {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px; /* Espaçamento entre os grupos */
}

.input-group {
    display: flex;
    flex-direction: column; /* Coloca o label em cima do input */
    flex: 1; /* Faz com que cada grupo ocupe o mesmo espaço */
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold; /* Opcional */
}

.input-group input {
    width: 100%;
    padding: 16px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 7px;
    font-size: 13px;
}


.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.buttons button {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    flex-grow: 1;
    margin: 0 5px;
    width: 100px;
}

.buttons button:hover {
    background-color: #e6b800;
}

.table-container {
    padding: 17px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: #ccc;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

.footer .exit {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 75px;
}

.footer .exit:hover {
    background-color: #e6b800;
}

.footer .logo img {
    width: 156px;
    height: 126px;
    flex-shrink: 0;
    margin-top: -20px;
    margin-left: auto;
}

/* Mobile adjustments */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    .footer .logo img {
        width: 100px;
        height: 80px;
    }

    .buttons {
        flex-direction: column;
        gap: 6px;
    }

    .buttons button {
        width: 95%;
    }
}

/* Input search icon */
.input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    padding: 16px;
    padding-right: 40px; /* Espaço para o ícone de pesquisa */
    border-radius: 10px;
    border: 1px solid #ccc;
}

.plus-icon {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #000;
}
